name: Janitor
# Janitor cleans up previous runs of various workflows
# Cancels Sims and Tests
on:
  pull_request:

jobs:
  cancel:
    name: "Cancel Previous Runs"
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          workflow_id: 1130522,1865868
          access_token: ${{ github.token }}