name: Protobuf
# Protobuf runs buf (https://buf.build/) lint and check-breakage.
# This workflow is only run when a .proto file has been changed
# This will be useful when switching to Protobuf serialization.
on:
  pull_request:
    paths:
      - "**.proto"

jobs:
  Lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - name: lint
        run: make proto-lint
  Breakage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: check-breakage
        run: make proto-check-breaking
